input {
    beats {
        port => "5044"
    }
}
filter {
    grok {
      match => { "message" => "%%{IPV4:[apache][access][clientip]} - - \[%%{HTTPDATE:[apache][access][time]}\] \"%%{WORD:[apache][access][method]} %%{DATA:[apache][access][url]} HTTP/%%{NUMBER:[apache][access][http_version]}\" %%{NUMBER:[apache][access][response_code]} %%{NUMBER:[apache][access][body_sent][bytes]}" }
    }
    geoip {
      source => "[apache][access][clientip]"
    }
}
output {
    elasticsearch {
        hosts => [ "${elasticsearch_endpoint}" ]
        ilm_enabled => false
        index => "logstash-%%{+YYYY.MM.dd}"
    }
}

