metricbeat.config.modules:
  path: /etc/metricbeat/modules.d/*.yml
  reload.enabled: false
setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
setup.dashboards.enabled: true
setup.ilm.enabled: false
setup.ilm.check_exists: false
setup.kibana:
  host: "${kibana_endpoint}"
output.elasticsearch:
  hosts: ["${elasticsearch_endpoint}"]
  protocol: "https"
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~

